<div class="social_links">
  <ul>
      <li>
        <a href="https://twitter.com/Kind_Of_Akash"><i class="fa-brands fa-twitter twitter"></i></a>
      </li>
      <li>
        <a href="https://github.com/Akash-Singh04"><i class="fa-brands fa-github whatsapp"></i></a>
      </li>
      <li>
        <a href="https://www.instagram.com/kind.of.akash/"><i class="fa-brands fa-instagram instagram"></i></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/akash-singh-a57081253/"><i class="fa-brands fa-linkedin linkedin"></i></a>
      </li>
    </ul>
</div>